@import "../res/fonts/OpenSans/open-sans.css";

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;

    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 11pt;
}

h1,h2,h3,h4,h5,h6,
strong, b {
    font-weight: 500;
}